[submodule "lib/vim-pathogen"]
	path = lib/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "lib/vim-fugitive"]
	path = lib/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "lib/VimClojure"]
	path = lib/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "lib/nerdtree"]
	path = lib/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
